.container {
    display: block;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: rgb(241, 139, 4);
    
}

@media (max-width: 400px) {
  .container {
    height: 30%;
  }
}

.nav {
    margin-top: 10px;
    width: auto;
    height: auto;
    right: 0px;
    text-align: left;
    display: block;


  }
  
  .nav a {
    text-decoration: none;
    color: blueviolet;
    padding: 10px;
    top: 15px;
    bottom: 5px;
    display: block;
  }

  .divnav {
    text-align: center;
    padding: 5px;
    display: block;
    justify-content: center;
    margin: 5px;
    background-color: bisque;
  } 

  .h1 {
    margin-right: 15px;
  }