.nav {
    /* background-color: rgba(51, 3, 3, 0.3); */
    margin-top: 10px;
    width: auto;
    height: auto;
    right: 0px;
    text-align: right;
    display: inline-flex;
  }
  
  .nav a {
    text-decoration: none;
    /* background-color:rgba(51, 3, 3, 0.3); */
    color: white;
    padding: 10px;
    top: 15px;
    bottom: 5px;
    font-size: 20px;
  }

  .nav a:hover {
    text-decoration: none;
    /* background-color:rgba(51, 3, 3, 0.3); */
    color: rgb(224, 19, 207);
    padding: 10px;
    top: 15px;
    bottom: 5px;
  }


.aSeccion1 {
    background-color: rgba(51, 3, 3, 0.3);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #caf00d;
    top:60px;
    font-size: 20px;
    
}  



.h1{
    margin-top: 50px;
    text-align: left;
    margin-left: 80px;
    font-size: 50px;
    color: rgb(4, 107, 107);

}

.h2{
  color: blueviolet;
  font-size: 50px;
}

.h3 {
  margin-top: 0px;
  font-size: 30px;
  text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


.h5{
  color: rgb(44, 2, 83);
  font-size: 40px;
  margin-top: 350px;
  font-family: 'Caprasimo', cursive;
}

.h6{
  color: rgb(44, 2, 83);
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 5px;
}

.h7{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  
}

.h8{
  font-size: 20px;
  color: blueviolet;
}

.h9{
  color: rgb(44, 2, 83);
  font-size: 40px;
  margin-top: 240px;
  margin-bottom: 5px;
}




.divnav {
    top: 0;
    position: fixed;
    background-color: rgba(51, 3, 45, 0.3);
    box-shadow: 3px 3px 4px 3px rgb(116, 45, 104);
    left: auto;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    z-index: 100;
    display: inline-flex;
  } 

  .divSeccion1{
    margin-top: 60px;
    text-align: left;
    margin-left: 0px;
    padding: 30px;
    width: 1355px;
    height: 530px;
    background-image: url('./public/fondoweb.gif');
    background-repeat: no-repeat;
    background-position-y: 20px;

    /* background-position: center; */
  }

    .seccion2{
    margin-top: 70px;    
    margin-left: 10px;
    margin-right: 10px;
  }

  .seccion3{
    margin-top: 360px;
    margin-bottom: 10px;
  }

 .color-animation {
    animation: colorChange 10s infinite;
  }
  
  @keyframes colorChange {
    0% {
      color: red;
    }
    14% {
      color: green;
    }
    28% {
      color: blue;
    }
    42% {
      color: orange;
    }
    57% {
      color: purple;
    }
    71% {
      color: rgb(0, 255, 115);
    }
    85% {
      color: pink;
    }
    100% {
      color: cyan;
    }
  }

  .p1{
    font-size: 25px;
    margin-top: 20px;
    text-align: justify;
    padding: 30px;  
    color: aliceblue;
    background-color: rgba(51, 3, 3, 0.3);
      
  }

  .p2{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 150px;    
  }

  .p3{
    bottom: 120px;    
  }

  .p4{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
  }

  .h10{
    color: rgb(44, 2, 83);
    font-size: 70px;
    margin-top: 5px;
    font-family: 'Caprasimo', cursive;
  }

  .p10{
    margin-top: -130px;
  }

  .divSeccion3{
    text-align: left;
    margin-left: 120px;
  }

  .aSeccion3 {
    background-color: rgba(51, 3, 51, 0.6);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #caf00d;
    font-size: 20px;
  }

.aSeccion3:hover{
  background-color: white;
  color: rgba(51, 3, 51, 0.6);
}

.divSeccion4{
    margin-bottom: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.divSeccion5{
  margin-bottom: 190px;
}

.divSeccion6{
   margin-top: 70px;
}

.divSeccion10{
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  margin-right: 250px;
 

}

.divSeccion11{
  display: block;
  flex-direction: column;

}

.spanSeccion4{
  margin-left: 450px;
  color: rgb(72, 4, 134);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .imagenProyect{
    height: 300px;
    width: 600px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
}
  


  .imagegrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    z-index: 1;
  }
  
  .imageitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  
  .zoomableimage {
    /* width: 40%;
    height: auto;
    transition: transform 0.3s; */
    max-width: 62%;
  max-height: 60%;
  transition: transform 0.3s;
  background-color: black;
  }
  
  .imageitem:hover .zoomableimage {
    transform: scale(1.1);
  }
  
  .imagename {
  position: relative;
  top: 5px;
  left: 0;
  right: 0;
  max-height: auto;
  max-width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  font-weight: bold;
  pointer-events: none;
  }







  @media (max-width: 767px) {
    /* Estilos para pantallas pequeñas */
    .nav {
      display: none;
    }

    .menu {
      position: fixed;
    }

    .h1{
      font-size: 25px;
    }

    .h2{
      font-size: 22px;
      margin-bottom: -15px;
      margin-right: 25px;
      padding: 5px;
      text-align: left;
    } 
    
    .h9{
      margin-top: 290px;
    }

    .divSeccion6{
      padding-bottom: 30px;
    }

    .p1{
      font-size: 20px;
      margin-top: 0px;
      margin-left: 5px;
      padding: 5px;
    }

    .p10{
      margin-top: 0px;
    }

    .h10{
      margin-top: -140px;
    }

    .divSeccion1{
      text-align: left;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      padding: 5px;
      background-image: url('./public/fondoweb.gif');
      
      background-repeat: no-repeat;
      background-position-x: 0px;
    }

    .p2{
      margin-left: 3px;
      margin-right: 3px;
    }
    
    .seccion2{
      
      margin-top: 190px;
      margin-bottom: 240px;
    }

    .seccion3{
      margin-top: 100px;
      margin-bottom: 220px;
    }
    .spanSeccion4{
     display: none;
    }

    .imagenProyect{
      height: 200px;
      width: 400px;
      margin-right: 5px;
      margin-left: 5px;
  }

  .divSeccion10{
    display: block;
    margin-left: 30px;
    margin-right: 30px;  
  }

 
    
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tablets */

   
    .nav {
      display: none;
    }

  
  }
  
  @media (min-width: 992px) {
    /* Estilos para pantallas medianas y grandes */
    .nav {
      display: block;
    }

    .menu {
      display: none;
    }
  }
  
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, rgba(180, 174, 174, 0.5) 1px, transparent 1px);
    background-size: 60px 100%; /* Ancho y altura de las líneas verticales */
    background-repeat: repeat-x;   
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #b2a2b3, white);
  }
  
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px; /* Ancho de las líneas verticales */
    height: 100%;
    background: linear-gradient(to right, #ff0000, #00ff00);
  
  } 