@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@font-face {
  font-family: 'Optima';
  src: url('./fonts/OPTIMA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root {
  --green-color: #54b216;
  --wine-color: #691533;
  --green-strong-color: #63db12;
  --font-optima: 'Optima', sans-serif;
  --font-lato: 'Lato', sans-serif;

}

body {
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-no-decoration {
  text-decoration: none;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.548);
}

.form-input {
  width: 90%;
  height: 33px;
  margin: 10px;
  font-size: 17px;
  padding: 0px 10px;
}

.form-input:focus {
  /* border: 2px solid var(--green-color); */
  border-bottom: 1px solid black;
  outline: none;
}

.form-update-label {
  margin-bottom: 0;
  font-size: 15px;
}

button {
  border: none;
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(83, 83, 83, 0.548);
  border-radius: 3px;
  padding: 4px 40px;
  transition: 0.1s;
  margin: 10px;
}

button:hover {
  background-color: rgb(213, 161, 41);
  cursor: pointer;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: grey;
  margin: 5px;
}

.register-profile-picture {
  width: 250px;
  height: 250px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  background-color: rgba(189, 185, 185, 0.137);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  background-color: rgb(27, 26, 26);
  width: 0.7rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(230, 169, 29);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(207, 161, 53);
}